<%- include("partials/header") %>

	<section class="container introContent">
		<div class="row align-items-center">
			<div class="col">
				<div class="text-center text-dark">
					<h1 class="display-4">WELCOME TO BLOGBURP</h1>
					<p class="lead subheading">WE ONLY PROVIDE THE BEST CONTENT</p>
				</div>
				<hr style="width:15%;">
				<blockquote class="blockquote text-center">
					<p class="mb-0"><em>Find the best poems, proses and stories!</em></p>
					<p class="mb-0"><em>Read. Repeat.</em></p>
				</blockquote>
			</div>
		</div>
	</section>

	<div class="jumbotron px-0 introContent2">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 justify-content-center">
					<img src="./images/LovingDoodle.png" alt="Image depicting a poetry doodle" class="doodle">
				</div>
				<div class="col-md-6">
					<div class="text-center text-md-left mt-5 mt-md-0">
						<h1 class="display-4">Poetry</h1>
						<p class="lead"><em>"Poetry lifts the veil from the hidden beauty of the world, and makes
								familiar objects be as if they were not familiar.”<br> — Percy Bysshe Shelley</em>
						</p>
						<a href="/poetry" class="btn btn-dark">Read</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="jumbotron px-0 introContent2">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 order-2 order-md-1">
					<div class="text-center text-md-right mt-5 mt-md-0">
						<h1 class="display-4">PROSES</h1>
						<p class="lead"><em>"Marriage is a book of which the first chapter is written in poetry and the
								remaining chapters in prose."<br>-Beverley Nichols</em></p>
						<a href="/proses" class="btn btn-dark">Read</a>
					</div>
				</div>
				<div class="col-md-6 justify-content-center order-1 order-md-2">
					<div>
						<img src="./images/MessyDoodle.png" alt="Image depicting a man with proses doodle"
							class="doodle">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="jumbotron px-0 introContent2">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 justify-content-right">
					<div>
						<img src="./images/ReadingSideDoodle.png" alt="Image depicting a girl reading a book"
							class="doodle">
					</div>
				</div>
				<div class="col-md-6">
					<div class="text-center text-md-left mt-5 mt-md-0">
						<h1 class="display-4">STORIES</h1>
						<p class="lead"><em>“Some of these things are true and some of them lies. But they are all good
								stories.”<br>
								― Hilary Mantel</em></p>
						<a href="/series" class="btn btn-dark">Read</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<%- include("partials/footer")%>