<%- include("./partials/header") %>

<div class="ui middle aligned center aligned grid">
	<div class="column aligned center">
		<h2 class="ui black image header">
			<div class="content">
				<h2>Log-in to your account</h2>
			</div>
		</h2>
		<form action="/login" method="POST" class="ui large form">
			<div class="ui stacked segment">
				<div class="field">
					<div class="ui left icon input">
						<i class="user icon"></i>
						<input type="text" name="username" placeholder="Username">
					</div>
				</div>
				<div class="field">
					<div class="ui left icon input">
						<i class="lock icon"></i>
						<input type="password" name="password" placeholder="Password">
					</div>
				</div>
				<button class="ui fluid large black submit button">Login!</button>
			</div>
		</form>
		 <div class="ui message">
		  <a href="/register">New to this website? Sign Up!</a>
		</div>
	</div>
</div>


<%- include("./partials/footer") %>