a{
	color:black;
}

a:hover{
	color:rgba(0,0,0,.5);
	text-decoration: none;
}

button.ui.fluid.large.black.submit{
	font-size:1rem;
}

body{
	background-color: white;
	font-family: 'Amiri', serif;
}

 body > .grid {
      height: 100%;
    }

.column {
     max-width: 450px;
	justify-content:center;
}

.btn.btn-dark{
	background-color:black;
}

button.btn.btn-light{
	background-color:white;
	color:rgba(0,0,0,.5);
	border:none;
}

button.btn.btn-light:hover{
	border:none;
	color: black;
}

.card{
	border:none;
	font-size:1.5rem;
}

.card-title{
	font-size:2rem;
}

.cover{
	width: 100%;
	height: 500px;
}

div.alert{
	text-align:center;
}

div.ui.stacked.segment::after{
	visibility:hidden;
}

div.ui.message{
	background-color:white;
}

div.ui.middle.aligned.center.grid{
	margin-top:100px;
}

.footer{
	padding-top: 2rem;
	padding-bottom : 2rem;
	margin-top: 5rem;
	margin-bottom : 5rem;
}

.form{
	width:70%;
}

form.ui.large.form{
	margin:0 auto;
	width:422px;
}

.hover-button{
	background-color: white;
	color:#343a40;
	border:none;
}

h2{
	margin-bottom:15px;
	font-size : 1.5rem;
}

.hover-button:hover{
	background-color:#343a40;
	color:white;
}

hr{
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
}


i{
	margin-left: 1rem;
	margin-right: 1rem;
}

/*dropdown hover*/
@media screen and (min-width: 768px){
  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
        display: block;
    }
    .dropdown-menu{
        margin-top: 0;
    }
    .dropdown-toggle{
        margin-bottom: 2px;
    }
    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
        margin-bottom: 0;
    }
}

/* footer */
@media screen and (min-width: 1px) {
  div.footer {
    text-align:center;
  }
}

@media screen and (min-width:768px){
	.series-body, .prose-body{
		font-size:2.0rem;
	}
	
	.series-container, .prose-container, .poetry-container, .story-container{
		width:75%;
	}
}

@media screen and (min-width:1px){
	.series-body, .prose-body{
		font-size:1.5rem;
	}
}

nav{
	background-color: white;
}

.poetry-size{
	width: 380px;
	height:230px;
	text-align: center;
}


.prose-container-2 h3{
	margin:0;
}

.prose-container-2 p{
	margin:0;
}

.prose-container-2:hover{
	box-shadow:1px 1px 10px 1px #dedede;
}

.poetry-textarea{
	height:300px;
}

.prose-border{
	border:none;
}

.reply{
	color:rgba(0,0,0,.5);
}

.reply:hover{
	color:black;
}

.series-read{
	background-color:grey;
}

.story-container{
	margin:auto;
}

.story-container h3{
	margin:0;
}

.story-container p{
	margin:0;
}

 .story-container:hover{
	box-shadow:1px 1px 10px 1px #dedede;
}

.textarea{
	height: 700px;
}